<div class="mx-auto max-w-md py-12">
  <h1 class="text-3xl font-bold text-gray-900">Welcome to Clothing Store</h1>
  <p class="mt-4 text-lg text-gray-700">
    Explore our products:
  </p>
  <.link href={~p"/products"} class="mt-6 inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    View Products
  </.link>
</div>
